@font-face {
  font-family: DMSans;
  src: url('./fonts/DMSans-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: DMSansBold;
  src: url('./fonts/DMSans-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: DMSans;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  body.home {
  background-image: url('./images/patrick-fore-m9qWesqRN0M-unsplash.jpg');
}

body.sweet {
  background-image: url(./images/croissant.jpg);
}

.menu_bar {
    background-color: #f2f2f2;
display: flex;
padding: 1rem 1rem 0 1rem;
font-size: 2.4rem;
}

.logo {
    font-weight: 700;
padding: 0 2rem;
}

.menuButtonsDiv {
  display: flex;
  color: #ffffff;
  column-gap: 2rem;
  padding: 0 0 0 2rem;
}

.menuButtonsDiv :nth-child(odd) {
  background-color: #f14a0e;
  border: 1px solid #f14a0e;
}

.menuButtonsDiv :nth-child(odd) a {
  background-color: #f14a0e;
  border: 1px solid #f14a0e;
}

.menuButtonsDiv :nth-child(even) {
  background-color: #f57f54;
  border: 1px solid #f57f54;
}

.menuButtonsDiv :nth-child(even) a {
  background-color: #f57f54;
  border: 1px solid #f57f54;
}

.buttonWrapper {
  padding: 0 1rem;
border-radius: 0.7rem 0.7rem 0 0;
}

.homeContainer {
  color: #ffffff;
  padding: 4rem;
}

.homeContainer .textDivWrappar {
  max-width: 50vw;
  padding-left: 2rem;
}

.homeContainer h1.title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2.4rem;
}

.homeContainer p {
  font-size: 1.2rem;

}

.homeContainer .textDivWrappar button {
background-color: #f14a0e;
color: #ffffff;
 border: 1px solid #f14a0e;
 padding: 0.4rem 1rem;
 border-radius: 15px;
}


/* sweet */

.sweetContainer {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  gap: 2rem;
  padding: 6rem;
}

.sweetContainer .foodItem {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  flex: 1;
  /* min-width: 10rem; */
}

.sweetContainer .foodItem .titleWrapper {
  display: flex;
  justify-content: space-around;
}

.foodItem h2.itemName {
  text-align: center;
}

button.order-button {
  background-color: #f14a0e;
color: #ffffff;
 border: 1px solid #f14a0e;
 padding: 0.4rem 1rem;
 border-radius: 15px;
}
